.category .card-circle {
    flex: 0 0 auto;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    overflow: hidden;
    border: 3px solid #ddd;
}

.category .card-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}