.homepage {
    padding: 50px 0;
}

.homepage .user-card {
    padding: 30px;
    border-radius: 5px;
    border: 1px solid var(--color-light-gry);
    box-shadow: 1px 2px 10px #efefef;
}

.homepage .user-card h2 {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: var(--color-black);
}

.homepage .chart-section {
    padding-top: 35px;
}

.homepage .chart-section h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    text-align: left;
    padding-bottom: 15px;
}

/* category cards styling  */
.category {
    padding-top: 35px;
}

.category h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    text-align: left;
    padding-bottom: 15px;
}

.category .category-scroll {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 10px 0;
    scrollbar-width: thin;
}

.category .category-scroll::-webkit-scrollbar {
    height: 6px;
}

.category .category-scroll::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* latest-news styling */
.latest {
    padding-top: 35px;
}

.latest h4 {
    font-size: 18px;
    font-weight: 500;
    color: var(--color-black);
    text-align: left;
    padding-bottom: 15px;
}

.latest-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}

.card-square {
    flex: 1 0 75px;
    max-width: 75px;
}

.card-square img {
    width: 100%;
    height: 75px;
    object-fit: cover;
    object-position: center;
    border-radius: 7px;
}


@media (max-width: 480px) {
    .latest-grid {
        justify-content: center;
    }
}