body {
  margin: 0;
  overflow-x: hidden !important;
  font-family: "Montserrat", sans-serif !important;
  background: #fff;
}

:root {
  --color-red: #d51d30;
  --color-orange: #ffa500;
  --color-black: #020202;
  --color-light-black: #333333;
  --color-gry: #b1b1b1;
  --color-light-gry: #e4e4e4;
  --color-white: #ffff;
}

/* extra margin styling */
h1, h2, h3, h4, h5, h6, ul, li, p {
	margin: 0 !important;
}

a {
  text-decoration: none !important;
  cursor: pointer;
}